<% @articles.each do |article| %>
<div class="post">
    <div class="post-media">
        <div class="image-wrap">
            <a href="<%='articles/' + article.permalink %>">
                <img src="/img/1.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="post-body">
        <div class="post-meta">
            <div class="date"><%=article.published_at%></div>
            <div class="author">by <a href="#"><%=article.author%></a></div>
            <div class="cat">
                <ul>
                    <li>
                        <% article.categories.each do |cat| %>
                            <a href="#"><%=cat.name%></a>
                        <% end %>
                    </li>
                </ul>
            </div>
           <!--  <div class="comment"><a href="#">8 Comments &raquo;</a></div> -->
        </div>
        <div class="post-title">
            <h2>
                <a href="<%='articles/' + article.permalink %>"><%=article.title%></a>
            </h2>
        </div>
        <div class="post-content">
            <% length = article.body.index('</p>') != nil ? article.body.index('</p>') + 4 : 50 %>
            <!-- <p><%#=highlight(article.body.slice(0..length), params[:q]) %>[…]</p> -->
            <p><%#=raw(article.highlight.present? ? article.highlight : article.body.slice(0..length)) %>
                <%=article.body.slice(0..length)%>
            </p>
        </div>
        <div class="post-link">
            <a href="<%='articles/' + article.permalink %>" class="awe-btn awe-btn-style2">Read more</a>
        </div>
    </div>
</div>
<% end %>

<!-- PAGINATION -->                    
<%= paginate @articles, remote: true, theme: 'blog_articles_paging' %>
<!-- END / PAGINATION -->
