
        <header id="header-page">
            <div class="header-page__inner">
                <div class="container">
                    <!-- LOGO -->
                    <div class="logo">
                        <a href="index.html"><img src="<%= asset_path("logo.png") %>" alt=""></a>
                    </div>
                    <!-- END / LOGO -->
                    
                    <!-- NAVIGATION -->
                    <nav class="navigation awe-navigation" data-responsive="1200">
                        <ul class="menu-list">
                            <li>
                                <a href=""><%= t :home%></a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="destinations-list.html">Tour</a>
                                <ul class="sub-menu">
                                    <li><a href="destinations-list.html"><%= t :daily_tour%></a></li>
                                    <li><a href="destinations-grid.html"><%= t :long_day_tour%></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="trip.html"><%=t :hotel%></a>
                                <ul class="sub-menu">
                                    <li><a href="trip.html"><%= t :da_nang%></a></li>
                                    <li><a href="trip-detail.html"><%= t :hoi_an%></a></li>
                                    <li><a href="trip-dark.html"><%= t :hue %></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children <%= active_class('') %>">
                                <a href="/"><%= t :blog %></a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#"><%= t :travel_exp %></a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#"><%= t :event_info %></a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#"><%= t :deal_info %></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="<%=contact_url(:subdomain => false)%>"><%= t :contact %></a>
                            </li>
                        </ul>
                    </nav>
                    <!-- END / NAVIGATION -->
                    
                    <!-- SEARCH BOX -->
                    <div class="search-box">
                        <span class="searchtoggle"><i class="awe-icon awe-icon-search"></i></span>
                        <form class="form-search">
                            <div class="form-item">
                                <input type="text" value="Search &amp; hit enter">
                            </div>
                        </form>
                    </div>
                    <!-- END / SEARCH BOX -->


                    <!-- TOGGLE MENU RESPONSIVE -->
                    <a class="toggle-menu-responsive" href="#">
                        <div class="hamburger">
                            <span class="item item-1"></span>
                            <span class="item item-2"></span>
                            <span class="item item-3"></span>
                        </div>
                    </a>
                    <!-- END / TOGGLE MENU RESPONSIVE -->
                </div>
            </div>
        </header>
       