<!DOCTYPE html>
<html>
  <head>
    <title>Avacatour - Blog</title>
    <%#= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- GOOGLE FONT -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type ='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

	<!-- CSS LIBRARY -->
    <%= stylesheet_link_tag    "bootstrap.min", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "awe-booking-font", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "owl.carousel", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "jquery-ui", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- MAIN STYLE -->
    <%= stylesheet_link_tag    "style", media: 'all', 'data-turbolinks-track': 'reload' %>

	<!-- CSS COLOR -->
	<%= stylesheet_link_tag    "blue", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- IMAGE BACKGROUND -->
    <%= stylesheet_link_tag    "image", media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- JS -->
    <%= javascript_include_tag 'blog', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
  <!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
  <!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
	<!-- PAGE WRAP -->
    <div id="page-wrap">
  		<!-- PRELOADER -->
        <div class="preloader"></div>
        <!-- END / PRELOADER -->
        
        <!-- HEADER PAGE -->
        <%= render "shared/header" %>
        <!-- END / HEADER PAGE -->

        <!-- HEADING PAGE -->
        <section class="awe-parallax page-heading-demo">
            <div class="awe-overlay"></div>
            <div class="container">
                <div class="blog-heading-content text-uppercase">
                    <h2>AVACATOUR BLOG</h2>
                </div>
            </div>
        </section>
        <!-- END / HEADING PAGE -->

        
        <%= yield %>


        <!-- FOOTER PAGE -->
        <%= render "shared/footer" %>
        <!-- END / FOOTER PAGE -->
    </div>

    <%= javascript_include_tag 'scripts.js', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
